:root {
    --m-primary: rgb(0 110 6);
    --m-surface-tint: rgb(0 110 6);
    --m-on-primary: rgb(255 255 255);
    --m-primary-container: rgb(51 255 51);
    --m-on-primary-container: rgb(0 114 7);
    --m-secondary: rgb(180 0 103);
    --m-on-secondary: rgb(255 255 255);
    --m-secondary-container: rgb(223 11 129);
    --m-on-secondary-container: rgb(255 251 255);
    --m-tertiary: rgb(0 105 113);
    --m-on-tertiary: rgb(255 255 255);
    --m-tertiary-container: rgb(125 243 255);
    --m-on-tertiary-container: rgb(0 111 119);
    --m-error: rgb(186 26 26);
    --m-on-error: rgb(255 255 255);
    --m-error-container: rgb(255 218 214);
    --m-on-error-container: rgb(147 0 10);
    --m-background: rgb(241 253 232);
    --m-on-background: rgb(20 30 17);
    --m-surface: rgb(241 253 232);
    --m-on-surface: rgb(20 30 17);
    --m-surface-variant: rgb(214 232 204);
    --m-on-surface-variant: rgb(60 75 54);
    --m-outline: rgb(107 124 100);
    --m-outline-variant: rgb(186 204 177);
    --m-shadow: rgb(0 0 0);
    --m-scrim: rgb(0 0 0);
    --m-inverse-surface: rgb(41 51 37);
    --m-inverse-on-surface: rgb(232 245 223);
    --m-inverse-primary: rgb(0 230 27);
    --m-primary-fixed: rgb(118 255 101);
    --m-on-primary-fixed: rgb(0 34 1);
    --m-primary-fixed-dim: rgb(0 230 27);
    --m-on-primary-fixed-variant: rgb(0 83 3);
    --m-secondary-fixed: rgb(255 217 227);
    --m-on-secondary-fixed: rgb(62 0 32);
    --m-secondary-fixed-dim: rgb(255 176 203);
    --m-on-secondary-fixed-variant: rgb(141 0 79);
    --m-tertiary-fixed: rgb(130 243 255);
    --m-on-tertiary-fixed: rgb(0 32 34);
    --m-tertiary-fixed-dim: rgb(95 215 227);
    --m-on-tertiary-fixed-variant: rgb(0 79 85);
    --m-surface-dim: rgb(210 222 201);
    --m-surface-bright: rgb(241 253 232);
    --m-surface-container-lowest: rgb(255 255 255);
    --m-surface-container-low: rgb(235 247 226);
    --m-surface-container: rgb(229 242 221);
    --m-surface-container-high: rgb(224 236 215);
    --m-surface-container-highest: rgb(218 230 209);
}
